@page {
    size: 210mm 297mm;
    margin: 1cm 1cm 2cm 1cm;
}

@page:left {
    @left-middle {
        content: counter(page);
    }
 }

@page:right {
    @right-middle {
        content: counter(page);
    }
 }

@page

@font-face {
    font-family: Hershey;
    src: url("http://hershey-noailles.luuse.io/output/pitchoun-pirate-1.04/Hershey-Noailles-pitchoun-pirate-1.04.otf");
}
@font-face {
    font-family: Hershey;
    src: url("http://hershey-noailles.luuse.io/output/timesib-1-0.5/Hershey-Noailles-timesib-1-0.5.otf");
    font-weight: bold;
}

@font-face {
    font-family: HersheyParade;
    src: url("http://hershey-noailles.luuse.io/output/fimpah/Hershey-Noailles-parade.ttf");
}

@font-face {
    font-family: OCRpbi;
    src: url("http://typotheque.luuse.io/content/fonts/ocr-pbi/Ocr-Pbi-pen_x1_y1.ttf");
}

@font-face {
    font-family: Selectric;
    src: url("http://typotheque.luuse.io/content/fonts/selectric/SelectricRoman.otf");
}


body {
      font-family: Hershey;
      font-size: 10pt;
      line-height: 1.25em;
      color: black;
    }

h1 {
    color: green;
        font-size: 3em;
    line-height: 1.25em;
    font-weight: normal;
}

h2 {
    font-size: 2em;
    line-height: 1.25em;
    font-weight: normal;
}

h3 {
    font-family: Selectric;
    color: green;
    font-weight: normal;
}

a {
    color: blue;
}

p + p  {
    text-indent: 1em;
}

img {
    max-width: 2.5cm;
}

.metadata {
    font-family: ;
    margin: 1.25em 0;
}

.author {
    color: grey;
}

.date {
    text-decoration: underline;
}

time {
   font-style: italic;
}

.content {
    display: flex;
}

.images {
    flex-basis: 25%;
}

.separation {
    font-family: HersheyParade;
    font-size: 12pt;
}

.subtitles {
    font-family: Selectric;
    column-count: 2;
    flex-basis: 75%;
    font-size: 9pt;
}



@media screen and (min-width: 800px)  {
    
@page {
    size: 148mm 210mm;
    margin: 1cm 1cm 2cm 1cm;
}
}


